[submodule "Kotlin-test"]
	path = Kotlin-test
	url = git@github.com:DmitryVasilkovW/ITMO-Mobile-development-Kotlin-test.git
[submodule "Swift-test"]
	path = Swift-test
	url = git@github.com:DmitryVasilkovW/ITMO-Mobile-development-Swift-test.git
[submodule "Android-app"]
	path = Android-app
	url = git@github.com:DmitryVasilkovW/Sound-Hive-Android.git
